node_modules/
package-lock.json
scripts/
tests/
img/
build/
media/
mudpi.config
*.log
# Python compiled
__pycache__/
*.egg-info

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE configs
.idea/
.DS_Store
