node_modules/
package-lock.json
scripts/
tests/
img/
mudpi.config
# Python compiled
__pycache__/

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE configs
.idea/
.DS_Store
launch.json
