{
    "name": "MudPi Demo",
    "debug": false,
    "redis": {
        "host": "127.0.0.1",
        "port": 6379
    },
    "relays": [
        {
            "pin": 25,
            "normally_open": true,
            "group": "1",
            "name": "Relay Name",
            "topic": "garden/pi/relays/1",
            "tag": "relay_1"
        },
        {
            "pin": 12,
            "normally_open": true,
            "group": "2",
            "name": "Relay Name 2",
            "topic": "garden/pi/relays/2",
            "tag": "relay_2"
        },
        {
            "pin": 20,
            "normally_open": true,
            "group": "2",
            "name": "Relay Name 3",
            "topic": "garden/pi/relays/3",
            "tag": "relay_3"
        }
    ],
    "sensors": [
        {
            "type": "Humidity",
            "pin": 24,
            "name": "Environment",
            "model": "11"
    }
    ],
    "nodes": [
        {
            "name": "Wireless Node",
            "address": "192.168.2.150",
            "type":"arduino",
            "use_wifi":true,
            "sensors": [
                {
                    "pin": 2,
                    "type": "Humidity",
                    "name": "RemoteTemp",
                    "model": "11"
                }
            ]
        },
        {
            "name": "Demo Box 2",
            "address": "/dev/ttyUSB0",
            "type":"arduino",
            "sensors": [
                {
                    "pin": 0,
                    "is_digital": false,
                    "type": "Soil",
                    "name": "PepperSoil"
                },
                {
                    "pin": 3,
                    "is_digital": false,
                    "type": "Soil",
                    "name": "TomatoSoil"
                },
                {
                    "pin": 5,
                    "is_digital": false,
                    "type": "Rain",
                    "name": "Rain"
                }
            ]
        }
    ],
    "server": {
        "host": "127.0.0.1",
        "port": 6602
    }
}