{
    "name": "MudPi",
    "version": 0.7,
    "debug": false,
    "camera": {
        "path":"/var/www/html/mudpi/public/img/snaps/",
        "topic": "garden/pi/camera",
        "delay": {
            "hours":0,
            "minutes":10,
            "seconds":0
        },
        "resolution": {
            "x":1920,
            "y":1080
        }
    },
    "server": {
        "host": "127.0.0.1",
        "port": 6602
    },
    "redis": {
        "host": "127.0.0.1",
        "port": 6379
    },
    "relays": [
        {
            "name": "Garden Shelf Top Light",
            "pin": 27,
            "normally_open": true,
            "group": "gardenshelf",
            "topic": "garden/pi/relays/1",
            "tag": "relay_1"
        },
        {
            "name": "Garden Shelf Mid Light (W)",
            "pin": 22,
            "normally_open": true,
            "group": "gardenshelf",
            "topic": "garden/pi/relays/2",
            "tag": "relay_2",
            "restore_last_known_state": true
        },
        {
            "name": "Garden Shelf Mid Light (RB)",
            "pin": 11,
            "normally_open": true,
            "group": "gardenshelf",
            "topic": "garden/pi/relays/3",
            "tag": "relay_3",
            "restore_last_known_state": true
        },
        {
            "name": "Garden Shelf Extra Relay 2",
            "pin": 17,
            "normally_open": true,
            "group": "gardenshelf",
            "topic": "garden/pi/relays/4",
            "tag": "relay_4",
            "restore_last_known_state": true
        }
    ],
    "sensors":[
        {
            "type":"Humidity",
            "pin": 5,
            "name":"Environment"
        }
    ],
    "nodes":[]
}
