{
    "name": "MudPi",
    "version": 0.5,
    "debug": false,
    "server": {
        "host": "127.0.0.1",
        "port": 6602
    },
    "redis": {
        "host": "127.0.0.1",
        "port": 6379
    },
    "pump": {
        "pin": 13,
        "max_duration":30
    },
    "sensors": [
        {
            "type":"Humidity",
            "pin": 26,
            "name":"Weather Station"
        }
    ]
}
